tensorboardX
affine
aiohttp
aiohttp-cors
aioredis < 2
altair
anyio
argon2-cffi
async-generator
async-timeout
attrs
Babel
backports.functools-lru-cache
bayesian-optimization
beautifulsoup4
bleach
blessings
brotlipy
cachetools
catboost
certifi
cffi
chardet
click
click-plugins
cligj
colorama
colorful
contextvars
cycler
decorator
defusedxml
deprecation
entrypoints
filelock
Fiona
GDAL
google
google-api-core
google-auth
googleapis-common-protos
gpustat
graphviz
grpcio
hiredis
idna
idna-ssl
immutables
importlib-metadata
ipykernel
ipython
ipython-genutils
Jinja2
joblib
json5
jsonschema
jupyter
jupyter-client
jupyter-core
jupyter-packaging
jupyter-server
jupyterlab
jupyterlab-pygments
jupyterlab-server
kiwisolver
lightgbm
llvmlite
MarkupSafe
matplotlib
mistune
modin
msgpack
multidict
munch
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
notebook
numba
numpy
nvidia-ml-py3
opencensus
opencensus-context
packaging
pandas
pandocfilters
pexpect
pickleshare
Pillow
plotly
prometheus-client
prompt-toolkit
protobuf
psutil
ptyprocess
py-spy
pyaml
pyarrow
pyasn1
pyasn1-modules
pycparser
Pygments
pyparsing
pyrsistent
PySocks
python-dateutil
pytz
PyYAML
pyzmq
rasterio
ray
redis
requests
retrying
rsa
scikit-learn
scikit-optimize
scipy
Send2Trash
Shapely
simplegeneric
six
sniffio
snuggs
soupsieve
terminado
testpath
threadpoolctl
tomlkit
toolz
tornado
traitlets
typing-extensions
urllib3
wcwidth
webencodings
xgboost
yarl
zipp
pytest
pytest-xdist
pytest-cov
h2o
chefboost
shap
torch
hpbandster
ConfigSpace
hyperopt
ipyparallel
datashader
altair_saver
awscli
PySide6
bcrypt
boto3
